html, body {
    background-color: lightblue;
}

.parent {
    width: 300px;
    height: 300px;
    position: relative;
    margin: 200px 0 0 200px;
    background-color: indianred;
    border: 1px solid antiquewhite;
}

.parent .child {
    position: absolute;
}

.child-1 {
    width: 150px;
    height: 150px;
    background-color: lightseagreen;
    top: -40px;
    left: 250%;
}

.child-2 {
    width: 50px;
    height: 50px;
    background-color: lightgreen;
    top: 140px;
    left: -50%;
    border: 2px solid black;
}

.grandchild {
    width: 100px;
    height: 100px;
    background-color: lightgoldenrodyellow;
    position: absolute;
    top: 140%;
    left: -100%;
}
